/** Forum **/

table.table-list {
	margin: 		auto;

	margin-top: 	2%;

	width: 			90%;

    font-family:	main, Arial;
    
	text-align: 	center;
	
	border-left: 	solid 2px transparent;
	border-right: 	solid 2px transparent;

    vertical-align: middle;
    
    overflow-x:auto;
}

#topics tbody {
    color: white;
    vertical-align: middle;
}

#topics tbody th {
    text-align: left;
}

#topics tbody th i {
    color: #a4a4a4;
    text-shadow: 	0.5px 1px 5px black;
    font-size: smaller;
}

#topics .topic-folder {
    width: 10%;
    padding-right: 5%;
}

#topics tbody tr:focus, #topics tbody tr:hover {
	background-color: 	rgb(90, 90, 90);
	border-left: 		solid 2px white;
	border-right: 		solid 2px white;
	cursor: 			pointer;
}

#topics tbody tr:focus #topics tbody th i, #topics tbody tr:hover #topics tbody th i {
    text-shadow: 		0.5px 1px 5px rgb(50, 50, 50);
}

#create-topic b {
    text-shadow:    -0.5px -1px 10px cyan;
}

#create-topic a {
    color: darkcyan;
    font-weight: bold;
}

#create-topic a:hover, #create-topic a:focus {
    color: cyan;
    text-decoration: none;
}

.topic-icons:hover {
    text-shadow: 	0.5px 1px 5px black;
}

.topic-title {
    transition-duration: 0.3s;
}

.topic-title:hover {
    color: cyan;
}

/** END Forum **/

/** Topic **/

.message {
    border:     solid 1px white;
    height:     100%;
    margin:     auto;
    text-align: center;
}

.message img {
    width: 100%;
    margin: auto;
}

.message-body {
    text-align: center;
}

.message-user {
   text-align: center; 
}

.message-user p {
    text-align: left; 
}

.message-username {
    padding-top: 2%;
}

.message-role {
    border-left: 1px solid white;
    padding-left: 2%;
    vertical-align: middle;
}

.message-content {
    padding:    1%;
    text-align: justify;
    text-indent: 5%;

    height:     auto;

    min-height: 90%;
}

.message-content p {
    min-height: 200px;

    height:     auto !important;

    height:     200px;
}



.message-deleted {
    padding: 2%;
    background-color: rgb(110, 108, 119);
}

#new-message {
    font-weight:    bold;
    text-align:     center;
    
    border:         1px solid white;
    padding:        0;
    height:         100%;
}   

#new-message .no-form {
    color:      darkred;
    padding:    2%;
}

#new-message #no-new-message {
    border-bottom: 5px solid darkred;
}

#new-message-form {
    padding:    2%;
}

.edit-message {
    font-size:          1vw;
    background-color:   #3B3A3F;
    color:              cyan;
    text-shadow:        1px 3px 2px blue;
    border:             white 0.5px solid;

    width: 5%;

    display:            none;
    padding:            0.5%;
    position:           absolute;
    top:                0;
    right:              0;
    z-index:            10;
    vertical-align:     text-top top;
}

.edit-message i {
    font-size:          2vw;
}

.message:hover {
    background-color: 	rgb(100, 100, 100); 
}

.message:hover .edit-message {
    display: inline;
}

/** END Topic **/