/** INDEX **/

#management {
    width: 100%;
    text-align: center;
}

#management img {
    width: 256px;
}

#management figure {
	text-align: center;
}

#management figure img {
	transition: all .2s ease-in-out;
}

#management figure img:hover, #management figure img:focus {
	transform: scale(1.1);
}

#management figcaption {
    font-size: medium;
}

/** END INDEX **/

/** Staff Management **/

.staffManagement {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px 5px;
}

.staffManagement-user {
    border: solid 1px white;

    flex: 1 1 auto;
    width: 100%;
    height: auto;
    padding: 0.5%;
    margin: 2%;

    text-indent: 2%;
}

.staffManagement-user img {
    width: 100px;
    height: 100px;
}

.staffManagement-user .user-data {
    white-space: nowrap;
}

.staffManagement-user .user-data ul {
    list-style-type: none;
    height: 100%;
    float: left;
}

.staffManagement-user .user-data ul li span {
    font-size: large;
    margin-bottom: 5%;
}

/** END Staff Management **/