form div {
    margin: 2%;
}

form label {
    float: left;
	 color: white;
}

form input {
    font-family: Arial, Helvetica, sans-serif;
}

#login-form {
    margin: auto;
    text-align: center;
}

#login-form form {
    width: 60%;
    margin: auto;
}

/*********************************************/

#registration-form {
    margin: auto;
    text-align: center;
	color: white;
	

    padding: 2%;

    width: 70%;

    border: solid 1px white;
    border-radius: 45px;
    text-align: center;
}

#registration-form hr {
    margin: auto;
}

#registration-form input {
    font-family: Arial, Helvetica, sans-serif;
}

#registration-form div {
    margin: 2%;
    text-align: left;
}

/*********************************************/

#avatar-form {
    margin: auto;
    text-align: center;
}

#avatar-form label {
    float: none;
    padding-bottom: 2%;
}

#avatar-form input[type="file"] {
    text-align: center;
    color: white;
    background-color: #3B3A3F;
    border: none;
}

#avatar-form button[type="submit"] {
    margin: 2%;
}

/*********************************************/

#pdetails-form {
    margin: auto;
    text-align: center;
}

#pdetails-form form {
    margin: 2%;
    text-align: left;
}

#pdetails-form div {
    margin: 2%;
}

#pdetails-form input, #pdetails-form select {
    font-family: Arial, Helvetica, sans-serif;
}

#pdetails-form textarea {
    resize: 		none;
    font-family: Arial, Helvetica, sans-serif;
}

#pdetails-form button[type="submit"] {
    text-align: center;
    margin: 2%;
}

/*********************************************/

#password-form {
    margin: auto;
    text-align: center;
}

#password-form div:first {
    margin-bottom: 5%;
}

#password-form ul {
    list-style-type: none;
    color: red;
    text-align: left;

    float: left;
}

#password-form li {
    float: left;
}

#password-form li::before {
    vertical-align: middle;
    content: "❌ ";
}

#password-form p {
    text-align: left;
    font-style: italic;
}

#password-form small {
    text-align: left;
    padding-left: 2%;
    font-style: normal;
}