/* Memberlist */

table.table-memberlist {
	margin: 		auto;

	margin-top: 	2%;

	width: 			90%;

    font-family:	main, Arial;
    
	text-align: 	center;
	
	border-left: 	solid 2px transparent;
	border-right: 	solid 2px transparent;

	vertical-align: middle;
}

#users tbody tr:focus, #users tbody tr:hover {
	background-color: 	rgb(90, 90, 90);
	text-shadow: 		0.5px 1px 5px black;
	border-left: 		solid 2px white;
	border-right: 		solid 2px white;
	cursor: 			pointer;
}

#tooltip {  
    background-color: 		black;
    color: 					white;
    padding:				5px;
	position: 				absolute;
    max-width: 				100%;
    border-radius: 			5px;
	z-index:				1;
}

#users tbody tr:focus .online, #users tbody tr:hover .online {
	text-shadow: 		0.5px 1px 5px rgb(0, 150, 0);
}

table.table-memberlist tbody tr th:first-child {
    text-align: 	left;
    text-indent: 	10%;
}

a.memberlist-namelink {
	text-decoration: 		none;
	font-weight: 			bold;
	color: 					white;
	transition-property:   	color;
    transition-duration:   	0.5s;
}

a.filterLink {
	font-size: 				large;
	color:					white;
	text-decoration: 		none;
	transition-property:   	color;
	transition-duration:   	0.5s;
}

a.filterLink:hover, a.memberlist-namelink:hover {
	color:				cyan;
	text-decoration:	none;
}

img.memberlist-picture {
	height: 					50px;
	width: 						50px;
	pointer-events: 			none;
	cursor: 					default;
	user-select: 				none;
	/*height: 					10%;
	width: 						10%;*/
}

.memberlist-Etudiant-role {
	color:          	#B0E0E6;
	font-weight: 	bold;
    text-shadow:    0.5px 1px 5px rgb(0, 0, 190);
}

.memberlist-Enseignant-role {
    color: limegreen;
    text-shadow:    0.5px 1px 5px green;
}

.memberlist-Administrateur-role {
    color: red;
    text-shadow:    0.5px 1px 5px rgb(100, 0, 0);
}

.online {
	color: rgb(0, 211, 0);
}

#pagination a.disabled {
	opacity: 0.3;
}

/* END Memberlist */

/* START Profile page */

.profile-page {
	background-color: 		#3B3A3F;
}

#details li {
	border: none;
	background-color: 		#3B3A3F;

	padding: 5%;
}

#details .birthday b {
	color: gold;
}

.profile-page span.role {
	font-size: 		20px;
	font-weight: 	bold;
}

.profile-page li.detail::before {
	content: "▶ ";
	color: cyan;
}

.profile-page img#profile-pic {
	width:	100%;
}

.info-title {
	text-align: center;
}

.info-title span {
	padding: 1%;
}

.empty-detail {
	/*color: 			rgba(120,120,120,0.5);*/
	color: #a4a4a4;
	text-shadow: 	0.5px 1px 5px black;
}

.biography, .signature {
	padding: 2%;
	text-indent: 2%;
}

.signature p {
	border: solid white;
}

a#username {
	cursor: 		pointer;
}

#editProfileButtons {
	text-align: center;
	margin: 2%;
}

#editProfileButtons hr {
	margin: auto;
}

/* END Profile page */